body {
  background-color: #ffffff;
}


#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
  color: rgb(255, 255, 255);
  font-size: 5rem;
}